.product{
    margin-top: 50px;
    max-width: 100%;
    background-color: #fff;
    padding: 100px 50px;
    background: url("../../img/bg7.svg")  repeat-x;
    background-color: white;
}
.product-container{
    max-width: 1370px;
    margin: 0 auto;
}
.title-sub{
    color: #05585e;
    font-size: 74px;
    line-height: 78px;
    font-weight: 600;
    letter-spacing: 1.48px;
}
.product-price{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.product-items{
    margin-top: -95px;
    max-width: 586px;
    padding-left: 40px;
    position: relative;
}

.product-item{
    display: inline-block;
    width: 100%;
}
.product-name{
    margin-top: -50px;
    color: #05585e;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: .3px;
}
.art{
    color: rgba(5,88,94,.4);
    font-size: 16px;
    font-weight: 200;
    line-height: 16px;
    letter-spacing: .16px;
    margin-top: 10px;
}
.price{
    color: #05585e;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: .2px;
    margin-top: 25px;
    margin-bottom: 40px;
}
.product-tell{
    border-radius: 30px;
    background-color: #11aea3;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    padding: 20px 50px;
}
@media (max-width: 760px) {
    .title-sub{
        font-size: 40px;
    }
    .product-item{
        margin-top: 30px   ;
        width: auto;
        max-height: 250px;
    }
    .product-name{
        margin-top: -40px;
        font-size: 20px;
    }
    .product-tell{
        padding: 10px 30px;
    }
}
