.header__wrapper {
    min-height: 100vh;

}
.header__img{
    display: block;
    width: 100%;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background: linear-gradient(45deg,#085d64 0,#0d8993 100%);
    z-index: 2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header__logo {
    width: 80px ;
position: relative;
    z-index: 3 ;
}
.header__logo img{
    width: 100%;
}
.header__burger {
display: none;
}

.sitebar{
    z-index: 4;
}
@media (max-width: 760px) {
    .header__wrapper {
        min-height: 30vh;

    }
    .header__img{
        padding-top: 50px;
    }
    .header__body{
        height: 50px;
    }
    .header__logo {
        width: 50px ;

    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3 ;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger span {
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;

    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .sitebar{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;

        background: linear-gradient(45deg,#085d64 0,#0d8993 100%);
        z-index: 1;
        padding: 70px 10px 20px 0;
        transition: all 0.3s ease 0s ;
    }
    .sitebar.active{
        top: 0;
    }
    .menu li{
        margin: 0 0 15px 0;

    }

}